@use "variables" as *;


.flex-child {
    display: flex;
    flex-direction: inherit;
    flex-wrap: inherit;
    column-gap: inherit;
    row-gap: inherit;
    justify-content: inherit;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}

.scroll-y {
    overflow-y: auto;
}

.hfill{
    height: 100%;
}

.wfill{
    width: 100%;
}

.text-align-center{
    text-align: center;
}


.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-space-between {
  justify-content: space-between;
}

.stretch {
    justify-content: stretch;
}

.align-items-flex-start {
  align-items: flex-start;
}


.align-items-flex-end {
    align-items: flex-end;
}

.align-items-center {
    align-items: center;
}


.pt-1 {
    padding-top: 1rem;
}

.p-1 {
  padding: 1rem;
}

.p-2 {
    padding: 2rem;
}

.pb-1 {
    padding-bottom: 1rem;
}

.pb-2 {
  padding-bottom: 2rem;
}

.pb-3 {
  padding-bottom: 3rem;
}

.m-2 {
    margin: 2rem;
}

.mt-1 {
    margin-top: 1rem;
}

.mt-3 {
  margin-top: 3rem;
}

.ml-1 {
    margin-left: 1rem;
}

.mb-1 {
  margin-bottom: 1rem;
}


.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mx-1  {
  margin-left: 1rem;
  margin-right: 1rem;
}

.mx-2 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.my-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.my-2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.gap-1 {
  column-gap: 1rem;
  row-gap: 1rem;
}

.gap-2 {
  column-gap: 2rem;
  row-gap: 2rem;
}

.border-radius-1 {
  border-radius: 1rem;
}

.primary-font-color {
  color: $primary-color;
}

.warning-font-color {
  color: $warning-color;
}

.app-background-color {
  background-color: $background-color;
}

.neutral-background-color {
  background-color: $neutral-color;
}

.text-wrap {
  white-space: wrap;
}
